.barra{
        display:flex;
        flex-direction:row;
        align-Items: center;
        background-Color:#372c42ef;
        padding:2%;
        box-Shadow:0 0.133vw 2.667vw #000000;
        font-Size:1vw;
        width:97%;
        height: 2vw;
        z-Index:1;
        margin: 0%;
}
.fasty{
margin-top: 1.5vw;
width: 30vw;
float: left;
margin-left: 0px;
padding-left: 0px;
}
.search, .user{
  width: 2vw;
  margin: 1vw;
}
.sections{
  display:flex;
  flex-direction:row;
  align-Items: center;
  justify-content: center ;
  gap: 4vw;
  margin: 6vw;
}