.producto{
    border: solid, 0.133vw #eee;
    box-shadow:  0vw 0.267vw 1.7vw #322b38;
    padding:1.5vw;
    margin:1.3vw;
    width: 10vw;
    height: 15vw;
    border-radius: 1.333vw;
    text-Transform:capitalize;
    font-Size:1.2vw;
    background:#a47fca00;
    position:relative;
    justify-Content: center;
    align-Items: center;
    margin-Top:8vw
}
.img{
        width:85%;
        height:7vw;
        background:#00000056;
        border-Radius:1vw;
        padding:1vw
    }